.footer .inner .footer-top{
    padding-top: 110px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cccccc;
}
.footer .inner .footer-top i{
    height: 40px;
    width: 45px;
    vertical-align: middle;
}
.footer .inner .footer-top .tu{
    float: left;
    border-left: 1px solid #cccccc;
    margin-right: 70px;
    padding-left: 5px;
}
.footer .inner .footer-top .tu1{
    border-left: 0;
}
.footer .inner .footer-top .i1{
    background-position: -74px 0;
}
.footer .inner .footer-top .i2{
    background-position: -11px 2px;
}
.footer .inner .footer-top .i3{
    background-position: -132px -1px;
}
.footer .inner .footer-top .i4{
    background-position: -191px -4px;
}
.footer .inner .footer-top span{
    font: 24px/40px "微软雅黑";
    color: #707070;
}
.footer .inner .footer-top .sp1{
    font: 22px/22px "微软雅黑";
    float: left;
}
.footer .inner .footer-top .tu2 .zi{
    float: right;
}
.footer .inner .footer-cet .a1{
    font:bold 26px/45px "微软雅黑";
    color: #4d4d4d;
}
.footer .inner .footer-cet a{
    font: 24px/45px "微软雅黑";
    color:#4d4d4d ;
    display: block;
}
.footer .inner .footer-cet div{
    float: left;
    width: 198px;
    margin-top: 70px;
}
.footer .inner .footer-cet .last{
    border-left: 1px solid #cccccc;
    width: 190px;
    text-align: center;
    margin-right: 0;
    padding-left: 18px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.footer .inner .footer-cet .last .p1{
    font: 24px/25px "微软雅黑";
    text-align: center;
    color: #ff7f00;
}
.footer .inner .footer-cet .last .p2{
    font:14px/15px "微软雅黑";
    text-align: center;
    color: #636363;
}
.footer .inner .footer-cet .last .p4{
    width: 180px;
    height: 40px;
    color: #ff7f00;
    text-align: center;
    border: 1px solid  #ff7f00;
    font:bold 18px/40px "微软雅黑";
    margin-top: 30px;
}
.footer .inner .footer-bot{
    padding-top: 30px;
    padding-bottom: 70px;
}
.footer .inner .footer-bot a{
    color: #979797;
    font:14px/14px "微软雅黑";
}
.footer .inner .footer-bot p{
    color: #979797;
    font:14px/14px "微软雅黑";
}